git+git://github.com/JuliaPy/pyjulia#egg=julia

# IPython 7.0 is required for using pyjulia without segfault during
# tab completion.  It is currently in development:
# https://github.com/ipython/ipython/milestone/43
git+git://github.com/ipython/ipython#egg=ipython

numpy
